<div class="container">
  <div class="jumbotron">
    <h1 class="display-5">Geocodificación Angulosa</h1>
    <p class="lead">Esto es una prueba con Angular de una llamada http get utilizando Observables</p>
  </div>
  
  <div class="row">
  <div class="col">
    <div class="input-group">
    <input type="text" class="form-control col-md-6" id="dire" [(ngModel)]="direccion" placeholder="Calle nro, ciudad, pais">   
    <!-- <label for="dire" class="col-md-3">Ingresar direcci&oacute;n</label> -->
    <span class="input-group-control">
      <button class="btn btn-info" (click)="geocodificar()">Geocodificar</button>
    </span>
  </div>
  </div>
  <div class="col">
    <div class="card col-md-6">
      <div class="card-body">
        <h5 class="card-title">
          Coordenadas a buscar:
        </h5>
        <p class="card-text">{{latLon}}</p>
        <!-- <a href= "https://maps.google.com/?q={{latLon}}&z=7" class="btn btn-info" target = "_blank">Ver en Google Maps</a> -->
      </div>
    </div>
  </div>
</div>
  <br>
  <br>
  
  <div class="row">
      <div class="col">
        <app-mapin></app-mapin>
      </div>
  </div>

</div>
